<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    <title>AutoWater</title>
  </head>

  <body>
    <div class="container">
      <h1>Auto Water</h1>
      <hr/>
      <div class="row">
        <h3>Plant Stats</h3>
        <div class="col-sm-6">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Soil Temperature
              <span id="soil_temp" class="badge bg-primary rounded-pill">34%</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Soil Moisture
              <span id="soil_moisture" class="badge bg-primary rounded-pill">2</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              External Humidity
              <span id="humidity" class="badge bg-primary rounded-pill">1</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              External Temperature
              <span id="external_temp" class="badge bg-primary rounded-pill">1</span>
            </li>
          </ul>
          <br>
          <p id="last_updated">Last updated ...</p>
        </div>
      </div>
      <hr/>
      <div class="row">
        <h3>Manual Water</h3>
        <form>
          <div class="mb-3">
            <label for="manual-dispense-amount" class="form-label">Water Amount (mL)</label>
            <input type="number" class="form-control" id="manual-dispense-amount">
          </div>
          <button type="button" class="btn btn-primary" id="dispense">Dispense</button>
        </form>
      </div>
      <hr/>
      <div>
        <h3>Create Schedule</h3>
        <form class="row g-3">
          <div class="col-sm-2">
            <label for="day_of_week" class="form-label">Day (Week)</label>
            <select class="form-select" id="day_of_week">
              <option value="1">Monday</option>
              <option value="2">Tuesday</option>
              <option value="3">Wednesday</option>
              <option value="4">Thursday</option>
              <option value="5">Friday</option>
              <option value="6">Saturday</option>
              <option value="0">Sunday</option>
            </select>          
          </div>
          <div class="col-sm-2">
            <label for="schedule_hour" class="form-label">Hour</label>
            <input type="text" class="form-control" id="schedule_hour" aria-describedby="emailHelp">        
          </div>
          <div class="col-sm-2">
            <label for="schedule_minute" class="form-label">Minute</label>
            <input type="text" class="form-control" id="schedule_minute" aria-describedby="emailHelp">        
          </div>
          <div class="col-sm-2">
            <label for="schedule_water_amount" class="form-label">Water (in mL)</label>
            <input type="number" class="form-control" id="schedule_water_amount" aria-describedby="emailHelp">        
          </div>
          <div class="col-12">
            <button type="submit" id="create_schedule" class="btn btn-primary">Create</button>
          </div>
        </form>
      </div>
      <hr/>
      <div>
        <h3>Schedules</h3>
        <table id="schedule_table" class="table">
          <thead class="table-light">
            <th>cron</th>
            <th>Water Amount (mL)</th>
          </thead>
          <tbody>
          </tbody>
        </table>
        <div class="col-12">
          <button type="submit" id="clear_all_schedules" class="btn btn-primary">Clear All</button>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{{ url_for('static',filename='js/main.js') }}"></script>
  </body>
</html>